* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: black;
    padding: 13px;
    margin-bottom: 20px;
}
#forminput {
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    margin: auto;
    width: 600px;
    font-weight: bold;
    border: solid 0.5px black;
    /* padding: 20px; */
    background-color: black;
    color: white;
}

.formed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.labeled {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border: solid 0.5px gray;
    border-radius: 5px;
}
input:focus-visible {
    outline: 1px solid blue;
}
textarea {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border: solid 0.5px gray;
    border-radius: 5px;
}
textarea:focus-visible {
    outline: 1px solid blue;
}
select {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border: solid 0.5px gray;
    border-radius: 5px;
}
button {
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
}
button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table,
td {
    border: 1px solid black;
    border-spacing: 0;
}
td {
    padding: 5px;
}
thead {
    text-align: center;
    font-weight: bold;
}
footer {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    background-color: rgb(175, 175, 175);
    font-weight: 200;
    width: 100%;
    padding: 10px;
    text-align: center;
}
